dbconfig.php
error_log
img/
upload_doc/
app/upload_doc
nbproject/
.idea/
PhpStorm_Reference_Card.pdf
README.md
api_star/
composer.json
docker-compose.yml
jwt_firebase/
license.txt
workshop/

# Remote DB dumps (contain applicant PII)
db/lsz_admission_*.sql
